*{
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(31, 29, 29);
}
#backgroundImage{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1000;
}
header{
    background-color: gray;
    align-content: center;
    opacity: 0.9;
    height: 60px;
    padding-right: 70px;
    z-index: -100;
    animation-name: headerAnimation;
    animation-duration: 1s;
}
@keyframes headerAnimation{
    from{
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
    display: inline-block;
    margin-right: 40px;
}
header ul li{
    list-style: none;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}
header ul li a{
    color: white;
    font-weight: 500;
}
header a:hover,
header a.active{
    color: #000000;
}

/*DROPDOWN*/
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: #e0e0e0;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-out 0.3s;  
}
.dropdown a{
    display: block;
    color: black;
    padding: 10px 15px;
    transition: ease-out 0.3s;  
}
.dropdown .content{
    display: none;
    position: absolute;
    opacity: 0.8;
    border-radius: 10px;
    background-color: rgb(178, 178, 178);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 11%, 0.799);
}
.dropdown:hover button{
    background-color: #000000;
    color: rgb(241, 236, 236);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    color: rgb(241, 236, 236);
    background-color: black;
    border-radius: 10px;
}

/*developers animation*/
.malupiton img{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50px;
    top: 90px;
    background: transparent;
    z-index: -50;
    animation-name: razon;
    animation-duration: 2s;
}
@keyframes razon{
    from{
        transform: translateX(-70px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.malupiton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}
.malupiton1 img{
    position: absolute;
    width: 400px;
    height: 400px;
    background: transparent;
    z-index: -50;
    animation-name: payno;
    animation-duration: 2s;
}
@keyframes payno{
    from{
        transform: translateY(-180px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.malupiton2 img{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 60px;
    top: 100px;
    background: transparent;
    z-index: -50;
    animation-name: norcio;
    animation-duration: 3s;
}
@keyframes norcio{
    from{
        transform: translateX(60px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.blinking{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.typewriter {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 500px;
}
.typewriter h1{
    color: white;
    font-family: monospace;
    font-size: 60px;
    font-weight: 900;
    /*margin-inline: auto;*/
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 6s steps(40) forwards,
    blink 1s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/*names*/
.names {
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
    width: 100%;
}

.names ul {
    position: absolute;
    display: flex;
    gap: 300px;
    padding: 0;
    margin: 0;
    list-style: none; 
}

.names ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none; 
}

.names ul li h1 {
    color: rgb(240, 233, 233);
    display: inline;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.names ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1005px;
    height: 100%;
    background: rgb(22, 21, 21);
    animation: showleft 1s ease forwards;
    animation-delay: 1s;
}
@keyframes showleft{
    100%{
        width: 0;
    }
}